.game {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

.game__field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 450px;
  height: 450px;
  background: var(--box);
}

.game__box {
  border: 1px solid var(--borderField);
  width: 150px;
  height: 150px;
}

.game__box:hover {
  background: var(--box-focus);
}

.game__tools {
  display: flex;
  width: 450px;
  justify-content: space-evenly;
}

.game__score {
  position: relative;
  margin-left: 50px;
  font-family: "Constantia", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__numScore {
  font-size: 20px;
  margin-left: 48px;
  background: var(--scoreGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__backScore {
  position: absolute;
  left: 58px;
  top: -2px;
  width: 100%;
  height: 30px;
  border-radius: 16px;
  z-index: -1;
  background: var(--form-btn-popup-background);
}

.game__btnStart,
.game__btnReset {
  width: 200px;
  height: 34px;
  border: 0;
  border-radius: 16px;
  font-family: "Constantia", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  background: var(--form-btn-popup-background);
  color: #fff;
  appearance: none;
  grid-column-start: 2;
  grid-column-end: 3;
}

.game__btnStart:hover,
.game__btnReset:hover {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__btnStart:active,
.game__btnReset:active {
  background: var(--scoreGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .game__tools-ticTac {
  display: flex;
  justify-content: space-around;
  grid-column-start: 2;
  grid-column-end: 3;
}

.game__tools-tic {
  width: 60px;
  height: 60px;
}

.game__tools-tac {
  height: 60px;
} */
